
.example-class-selector {
	margin-top: 2em;
}

.example-class-selector p {
		
	color: #CC00AA;

}

body {
     border: 1px dotted gray;
     padding: 20px;
     background-color: #080808;
}

h1, h2, h3, h4 {
     font-family: 'IM Fell English', serif;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/artist_banner.jpg");
     background-position: 0% 25%;
     background-size: cover;
     background-repeat: no-repeat;
    
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}
#jumbotron1:after {
     background: url("../images/franklin1.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     opacity: 0.8;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.project a {
     text-align: center;
}

.project .details {
     overflow: hidden;
}

.thumbnail {
     padding-top: 10px;
     padding-bottom: 10px;
}

.navbar-default {
     background-color: black;
     background-image: none;
}

